@import "tailwindcss";

@theme {
  --color-foreground: var(--color-foreground);
  --color-background: var(--color-background);
  --color-accent: var(--color-accent);
}

:root {
  --color-accent: #ffbb00; /* Orange */
  --color-foreground: #000000; /* Black */
  --color-background: #ffffff; /* White */
}

.dark {
  --color-accent: #1c48a7; /* Orange */
  --color-foreground: #ffffff; /* White */
  --color-background: #000000; /* Black */
}
